<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webová anketa</title>
    <link rel="stylesheet" href="css/styles.css">
    <%
        const dayNames = {
            "monday": "Pondělí",
            "tuesday": "Úterý",
            "wednesday": "Středa",
            "thursday": "Čtvrtek",
            "friday": "Pátek",
            "saturday": "Sobota",
            "sunday": "Neděle"
        };
        %>
</head>
<body>
    <%- include('blocks/header'); -%>
    <h2>Anketa o oblíbenosti dnů</h2>
    <form action="/submit" method="post" class="form-container">
        <div>
            <p>Ohodnoťte jednotlivé dny v týdnu na škále od 1 do 10:</p>
            <% ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].forEach(day => { %>
                <label for="<%= day %>"><%= dayNames[day] %>:</label>
                <input type="range" id="<%= day %>" name="<%= day %>" min="1" max="10" step="1">
                <span id="<%= day %>Value"></span><br>
            <% }) %>
        </div>
        
        <div>
            <label for="bestDay">Vyberte váš nejoblíbenější den:</label>
            <select id="bestDay" name="bestDay">
                <% ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].forEach(day => { %>
                    <option value="<%= day %>"><%= dayNames[day] %></option>
                <% }) %>
            </select>
        </div>
        <div>
            <label for="bestDayReason">Proč je toto váš nejoblíbenější den?</label>
            <input type="text" id="bestDayReason" name="bestDayReason">
        </div>
        <div>
            <label for="worstDay">Vyberte váš nejméně oblíbený den:</label>
            <select id="worstDay" name="worstDay">
                <% ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].forEach(day => { %>
                    <option value="<%= day %>"><%= dayNames[day] %></option>
                <% }) %>
            </select>
        </div>
        <div>
            <label for="worstDayReason">Proč je toto váš nejméně oblíbený den?</label>
            <input type="text" id="worstDayReason" name="worstDayReason">
        </div>
        
        <div class="form-actions">
            <button type="submit">Odeslat odpovědi</button>
            <a href="/results" class="button">Zobraz odpovědi</a>
        </div>
    </form>
    <%- include('blocks/footer'); -%>
    <script>
        document.querySelectorAll('input[type="range"]').forEach(input => {
            const output = document.getElementById(input.id + "Value");
            output.innerHTML = input.value; // Zobrazit výchozí hodnotu
            input.oninput = function() {
                output.innerHTML = this.value;
            };
        });
    </script>
</body>
</html>
